{% extends "layout.html" %}
{% block content %}
    <h1>Visualization</h1>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-imdbratings-hhcfs/embed/charts?id=54359b1b-a450-4f60-898a-95321de71a09&tenant=c5eca67d-91f6-4e1f-9e0b-d2d1af5642d4"></iframe>
    <iframe style="border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-imdbratings-hhcfs/embed/charts?id=c804ee57-472e-4a79-9c1b-8e04a3bfb7e2&tenant=c5eca67d-91f6-4e1f-9e0b-d2d1af5642d4"></iframe>
{% endblock content %}